.element__button{
  grid-area: button;
  background-image: url(../../../images/batteryOff.svg);
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: 0px;
  margin-right: 7.1%;
  padding-right: 16px;
  transition: 1s;
  cursor: pointer;
}

.element__button:hover{
  opacity: 0.5;
  transition: 0.5s;
}
