.element__text {
  margin: 0;
  color: rgba(0, 0, 0, 1);
  font-family: 'Inter', Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  margin-left: 7.5%;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: linear-gradient(
    1deg, rgb(0 0 0), rgb(118 106 143), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
