.element__description {
  display: inline-flex;
  padding-bottom: 26px;
  padding-top: 26px;
  justify-content: space-between;
  align-items: center;
  gap: 0% 8%;
  z-index: 1;
  background: linear-gradient(0deg, rgb(124, 128, 127), rgb(255, 255, 255), rgb(107, 107, 107));
}
