.popup__close-icon{
  background-image: url(../../../images/Close-Icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  transition: opacity .3s linear;
  padding: 0;
  margin-bottom: 8px;
  margin-left: 438px;
  cursor: pointer;
}

@media screen and (max-width: 540px){
  .popup__close-icon{
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
    margin-left: 262px;
  }
}

.popup__close-icon:hover{
  opacity: 0.6;
}
