.profile__info {
  grid-area: info;
  gap: 0px 18px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
      "name button"
      "job job";
  grid-row: 1/1;
  grid-column: 2/3;
}

@media screen and (max-width: 540px) {
  .profile__info {
    gap: 0px 10px;
    margin-top: 27px;
    margin-left: 28px;
  }
}
