.element {
  width: 282px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

@media screen and (max-width: 540px) {
  .element {
    width: 88.1%;
  }
}
